.title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #CE6A6B;
}

.dates {
    display: flex;
    justify-items: center;
    gap: 0.5rem;
}

.missions {
    gap: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    list-style-type: disc;
    list-style-position: inside;
}

.button{
    display: flex;
    justify-self: center;
    justify-content: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #CE6A6B;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    border-color: transparent;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.button:hover{
    border-color: #CE6A6B;
}

.formation{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin: 2.5rem;
    gap: 3.5rem;
}

.experience{
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    color: #F19E91;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.etablissement{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.contenu{
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@media (min-width: 720px) {
    .date {
        width: fit-content;
    }

    .missions {
        width: 80%;
    }

    .button{
        border-bottom-width: 2px;
    }
}